---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="text-center">
    <p class="text-accent text-base font-semibold">500</p>
    <h1
      class="mt-4 text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl"
    >
      Something went wrong
    </h1>
    <div class="mt-12 flex items-center justify-center gap-x-6">
      <a
        href="/"
        class="bg-accent hover:bg-accent-faded focus-visible:text-accent-faded rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2"
        >Go back home</a
      >
    </div>
  </div>
</Layout>
